form action="/login" method="post"
  input name="name" type="text" placeholder="username" required="true"
  input name="pass" type="password" placeholder="password" required="true"
  input type="submit" value="Login"