* {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000;
}

h1,
h2,
h3,
p,
a,
span {
  color: #fff;
}

h1 {
  text-align: center;
}

.script {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.script .title {
  font-family: "Great Vibes", cursive;
  flex: 1;
}

.script .author {
  flex: 1;
}

.script-list,
.character-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.character {
  display: grid;
  grid-template-areas: "im nm nm" "im tp au" "im ab ab";
  grid-template-columns: 10rem 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
}

.character-preview {
  flex: 1;
  display: grid;
  grid-template-areas: "im nm nm" "im tp au";
  grid-template-columns: 3rem 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

.character img {
  grid-area: im;
  width: 10rem;
  height: 10rem;
}

.character-preview img {
  grid-area: im;
  width: 3rem;
  height: 3rem;
}

.character .traveller-name-fix,
.character-preview .traveller-name-fix {
  grid-area: nm;
  text-decoration: none;
}

.character .name,
.character-preview .name {
  white-space: nowrap;
  width: min-content;
}

.townsfolk {
  color: blue;
}

.outsider {
  color: cyan;
}

.minion {
  color: orange;
}

.demon {
  color: red;
}

.traveller {
  background: -webkit-linear-gradient(left, blue, red);
  -webkit-text-fill-color: transparent;
  background-clip: initial;
  -webkit-background-clip: text;
}

.fabled {
  color: gold;
}

.character .type,
.character-preview .type {
  grid-area: tp;
  text-align: left;
  text-transform: capitalize;
  height: min-content;
}

.character .author,
.character-preview .author {
  grid-area: au;
  text-align: right;
  height: min-content;
}

.character .ability {
  grid-area: ab;
}

.character-preview .ability {
  display: none;
}

.character-view {
  display: flex;
  flex-direction: row;
}

.character-view img,
.character-view .info {
  flex: 1;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: min-content;
  height: min-content;
}

.tag {
  flex: 1;
  border-radius: 4px;
  margin: 2px;
  width: min-content;
  text-decoration: none;
}

.tag-content {
  size: 1rem;
  background-color: #00000000;
}