* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: #000;
}

h1,
h2,
h3,
p,
a,
span,
label {
  color: #fff;
}

h1 {
  text-align: center;
}

.header-buffer {
  height: 2.2rem;
}

header {
  position: fixed;
  height: 2.2rem;
  width: 100%;
  background-color: #000;
  border-bottom: 2px solid #fff;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

.create,
.back {
  position: fixed;
  left: 0;
  top: 0.5rem;
}

.login-field {
  position: fixed;
  right: 0;
  top: 0.5rem;
  display: flex;
  flex-direction: row;
  width: min-content;
}

.profile {
  position: fixed;
  right: 0;
  top: 0.1rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  width: min-content;
}

.profile img {
  flex: 1;
  background-color: #fff;
  border-radius: 50%;
}

.profile span {
  flex: 1;
  font-size: 1.5rem;
}

.login-field a {
  flex: 1;
  margin: 1px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #fff;
  text-align: center;
  width: min-content;
  text-decoration: none;
}

form {
  width: min-content;
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 2px;
  border: 2px solid #fff;
  padding: 2px;
  margin: 2px;
}

.script {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.script-view .title {
  font-family: "Great Vibes", cursive;
}

.script .title {
  font-family: "Great Vibes", cursive;
  flex: 1;
  font-size: 1.6rem;
  text-decoration: none;
}

.script .author {
  flex: 1;
}

.script-list,
.character-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.character-list.script-edit {
  grid-template-columns: 1fr 1fr;
}

.preview-script-list,
.preview-character-list {
  flex: 1;
  display: grid;
  height: min-content;
}

.script-character-list,
.script-edit-list {
  display: grid;
  grid-template-columns: 1fr;
}

.character {
  display: grid;
  grid-template-areas: "im nm nm" "im tp au" "im ab ab";
  grid-template-columns: 10rem 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
}

.character.script-edit-character {
  display: grid;
  grid-template-areas: "im nm fn" "im tp au" "im ab ab";
  grid-template-columns: 10rem 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
}

.script-edit-character .fns {
  grid-area: fn;
  display: flex;
}

.script-edit-character form {
  flex: 1;
}

.character-preview {
  flex: 1;
  display: grid;
  grid-template-areas: "im nm nm" "im tp au";
  grid-template-columns: 3rem 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

.character img {
  grid-area: im;
  width: 10rem;
  height: 10rem;
}

.character-preview img {
  grid-area: im;
  width: 3rem;
  height: 3rem;
}

.character .traveller-name-fix,
.character-preview .traveller-name-fix {
  grid-area: nm;
  text-decoration: none;
}

.character .name,
.character-preview .name,
.featured-character .name {
  white-space: nowrap;
  width: min-content;
}

.townsfolk {
  color: blue;
}

.outsider {
  color: cyan;
}

.minion {
  color: orange;
}

.demon {
  color: red;
}

.traveller {
  background: -webkit-linear-gradient(left, blue, red);
  -webkit-text-fill-color: transparent;
  background-clip: initial;
  -webkit-background-clip: text;
}

.fabled {
  color: gold;
}

.character .type,
.character-preview .type {
  grid-area: tp;
  text-align: left;
  text-transform: capitalize;
  height: min-content;
}

.character .author,
.character-preview .author {
  grid-area: au;
  text-align: right;
  height: min-content;
}

.character .ability {
  grid-area: ab;
}

.character-preview .ability {
  display: none;
}

.character-view {
  display: flex;
  flex-direction: row;
}

.character-view img,
.character-view .info {
  flex: 1;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: min-content;
  height: min-content;
}

.tag {
  flex: 1;
  border-radius: 4px;
  margin: 2px;
  width: min-content;
  text-decoration: none;
}

.tag-content {
  size: 1rem;
  background-color: #00000000;
}

.user-view .content {
  display: flex;
  flex-direction: row;
}

form .checkbox {
  display: flex;
  flex-direction: row-reverse;
}

form .checkbox * {
  flex: 1;
}

.edit {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5rem 1fr;
}

.edit img {
  width: 100%;
  height: 100%;
}

.featured-character-list {
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: min-content;
}

.featured-character-list.small {
  height: 1rem;
}

.featured-character {
  flex: 1;
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.small .featured-character {
  grid-template-columns: 1rem 1fr;
}

.small .name {
  font-size: 1rem;
}

.featured-character .traveller-name-fix {
  text-decoration: none;
  align-self: center;
}

.featured-character img {
  width: 100%;
  height: 100%;
}
